.essen-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.essenpage-title {
  position: absolute;
  top: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

.essen-img {
  position: absolute;
  top: 190px;
  left: 40%;
}

.text-container-essenpage {
  position: absolute;
  top: 380px;
  width: 80%;
  font-size: 18px;
  text-align: center;
}
