.lectures-page {
  height: 100vh;
  display: grid;
  align-items: baseline;
  justify-content: center;
}

.lectures-table {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px;
  margin-top: 100px;
  height: 60vh;
  width: auto;
  grid-gap: 2em;
}

.lecture-card-img {
  width: 200px;
  height: 150px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 0px;
  color: black;
}

#one {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#two {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

#three {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

#four {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#five {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.lecture-card {
  border: 5px solid black;
  border-radius: 30%;
  text-align: center;
  background-color: white;
}
