.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input[type='email'],
.login-form input[type='password'] {
  width: 92%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container label {
  margin-left: 5px;
}

.login-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.reset-password {
  text-align: center;
  margin-top: 20px;
}

.reset-password a {
  color: #0066cc;
  text-decoration: none;
}
